@font-face {
  font-family: 'Sansation_Bold';
  src: local('Sansation'), url('./fonts/Sansation_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Sansation_Bold_Italic';
  src: local('Sansation'), url('./fonts/Sansation_Bold_Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Sansation_Italic';
  src: local('Sansation'), url('./fonts/Sansation_Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Sansation_Light';
  src: local('Sansation'), url('./fonts/Sansation_Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Sansation_Light_Italic';
  src: local('Sansation'), url('./fonts/Sansation_Light_Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Sansation_Regular';
  src: local('Sansation'), url('./fonts/Sansation_Regular.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: -apple-system, "Sansation_Regular", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

.container-fluid {
  display: flex;
  flex-direction: column;
}

.navbar {
  margin-bottom: 1%;
}

.home {
  /*border: black 1px solid;*/
}
.home .tracker button {
  margin-top: 2%;
}

.footer {
  /*color: white;*/
}